<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corporate and Residential Roofing Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Nailed It Roofing inc.</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Your Roof, Our Expertise</h2>
        <p>We specialize in all type of roofing, and more.</p>
    </section>
    <footer>
        <p>© 2024 Nailed It Roofing inc.</p>
    </footer>
</body>
</html>
